<div class="contain">
	<h1 class="header">
		boards
	</h1>

	<div class="flexColumn shorter">
		@for (board of boards; track $index) {
			<app-board-flip [board]="board.name" [desc]="board.desc" (click)="boardChanged(board.name)"></app-board-flip>
		}
		<a class="big" (click)="changeMode()">/{{internalData.currentTheme()}}/</a>
		<a class="big" (click)="changeView()">/{{internalData.currentView()}}/</a>
		<!-- <a (click)="pause()">/{{songstate}}/</a> -->
	</div>
</div>

<!-- pranks -->
 <!-- <audio #song src="shutup.mp3" hidden autoplay></audio> -->