.container {
	// background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/back.jpg') no-repeat center/cover;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100vw;
	// max-width: 1800px;
	// margin: auto;
    height: 100vh;
	-ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.containerBlock {
    flex-shrink: 0;
    scroll-snap-align: start;
    height: 100%;
    width: 100%;
    // padding: 0px 24px;
    overflow-y: auto;
    // hide scrollbar
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

// hide scrollbar
.containerBlock::-webkit-scrollbar {
    display: none;
}


@media(min-width:1200px) {
    .threads {
        width: 80%;
    }   

    .boards {
        width: 20%;
    }
}