<!-- <div #container class="container hideScroll" [class.darkMode]="internalData.darkTheme()">
  <div class="containerBlock boards hideScroll">
    <app-board></app-board>
  </div>
  
  <div class="containerBlock threads hideScroll">
    <router-outlet></router-outlet>
  </div>

</div> -->

<h1>TPD & TBD</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/RwzwyrOoLiY?si=YbaoKhfjm_8rw2MO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/L1geyGFVMm8?si=XOr-XaQ0KjkNXoRz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>