
<div class="flexColumn">
	<p class="fileName">{{files[startingPoint].ogfilename}}</p>
	@if (files[startingPoint].mimetype.startsWith('image')) {
		<img [src] = " serverUrl + files[startingPoint].file" [alt]="files[startingPoint].ogfilename" />
	} @else {
		<video [src] = "serverUrl + files[startingPoint].file" controls autoplay></video>
	}
</div>

<div class="nav">
		<p class="fileName thicker" (click)="decrease()">&lt;</p>
		<p class="fileName thicker">{{startingPoint+1}}/{{files.length}}</p>
		<p class="fileName thicker" (click)="increase()">&gt;</p>
</div>