.front{
	 backface-visibility: hidden;
	 -webkit-backface-visibility: hidden;
	 position: absolute;
	 height: 100%;
	 width: 100%;
	 
}

.parent{
	position: relative;
	transition: transform 2s cubic-bezier(0.42, 0, 0, 1.41) 300ms;
	transform-style: preserve-3d; 
	height: calc(18px * 1.5)
}

.parentHeader{
	position: relative;
	transition: transform 2s cubic-bezier(0.42, 0, 0, 1.41) 300ms;
	transform-style: preserve-3d; 
	// font-size: inherit;
	height: calc(72px * 1.5)
}

// .parent:hover{
// 	transform: rotateX(180deg);
// }

.behind{
	position: absolute;
	transform: rotateX(180deg) translateZ(0);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	background-color: white;
	height: 100%;
	width: 100%;
}
.animateFlip{
	transform: rotateX(180deg) translateZ(0);
}

.headfont{
	font-size: 72px;
}