<div class="contain">
	<h1 (click)="showThreadPopup()" class="pointer">
		<app-board-flip [board]="internalData.currentBoard()" [desc]="'create'" [type]="'header'"></app-board-flip>
	</h1>

	<!-- (click)="emitEvent()" -->
	<!-- style="margin-bottom: 0px;" -->
	<!-- <a style="margin-bottom: 4px; font-size: 24px;" (click)="emitEvent()">create</a> -->


	<!-- <div class="flexColumn">
    @if(!showCreateThreadForm){
        @for (thread of threadList$ | async; track $index) {
            <app-threadchild [data]="thread.data" [index]="$index" [flipOut]="flipOut[$index]"></app-threadchild>
        }
    }@else {
        <div class="flippedIn">
            <div class="">
                <textarea rows="12" cols="48"></textarea>
                <div>
                    <a (click)="fileInputOne.click()">file</a>
                    <a>send</a>
                    <a>close</a>
                </div>
                <input #fileInputOne type="file" accept="image/*, video/*" hidden />
            </div>
        </div>
    }
</div> -->

	<div class="flexColumn">
		@if((threadList$ | async); as threadList){
			@if(threadList.length > 0){
				@for (thread of threadList | sortThread; track thread.id) {
					 <!-- [index]="$index"  -->
					<app-threadchild class="animateContainer"  [data]="thread" [style.--i]="$index < 8 ? $index : 1"></app-threadchild>
				}
			}@else {
				<p>no topics yet</p>
			}
		}@else {
			loading...
		}	
	</div>
	
	<!-- @if(showThreadPopup){
		<app-upload forwhat="thread" [currentBoard]="currentBoard" (closepopup)="closePopup()" (triggerRefresh)="triggerRefresh()"></app-upload>
	} -->

	<br />
</div>