:host {
    perspective: 600px;
}

div{
	white-space: pre-line;
}

.replyBlockContainer{
	display: flex;
	gap: 12px;
	align-items: center;
	flex-wrap: wrap;
}

.replyBlocks{
	border: 1px black solid;
	height: 24px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}