<div #container class="content">
	@if (data().file != "") {
		<img (click)="expandMedia.emit(data().id)" [src]="fileUrl + 't-' + data().file" [alt]="data().ogfilename" loading="lazy" class="floatLeft small">
	}
	@for(item of data().content | convertLink; track $index){
		@if (item.type == 'link') {
			<span style="font-size: 16px; font-weight: bold;" (click)="selectReply(item.value, $event)">&gt;&gt;{{item.value}}</span>
		}@else {
			<span>{{item.value}}</span>
		}
	}
	<br/>
	@if(data().repliesFrom?.length){
		<a class="italics" style="font-size: 16px;" (click)="replyId.emit(data().id)">reply</a>
			@for (item of data().repliesFrom; track item) {
				<a (click)="selectReply(item, $event)" style="margin: 4px 8px;font-size: 16px; font-weight: bold;">&gt;&gt;{{item}}</a>
			}
	}@else {
		<a class="italics" style="font-size: 16px;" (click)="replyId.emit(data().id)">reply</a>
	}
</div>