<div #overlay class="newOverlay">
	<div>
		<textarea [(ngModel)]="replyData" minlength="1" maxlength="420"></textarea>
	</div>
	<div>
		<a class="big" (click)="fileInputTwo.click()">file{{forwhat() == 'thread' ? '*' : ''}}</a>
		<a class="big" (click)="checkImage()">send</a>
		<a class="big" (click)="animateExit()">close</a>
	</div>
	<div>
		<A class="name">{{replyFile?.name}}</A>
	</div>
	<div>
		@if (fileUploadProgress > 0) {
			<progress max="100" [value]="fileUploadProgress"></progress>
		}
	</div>
	@if (showError) {
		<div>
			<A>{{errorMessage}}</A>
		</div>
	}
	<input (change)="fileSelected($event)" #fileInputTwo type="file" accept="image/*, video/*" hidden />
</div>