<div class="contain">
	<h1>
		replies
	</h1>

	<div class="flexColumn">
		@if((replyList$ | async); as replyList){
			@for (reply of replyList; track reply.id) {
				<app-replychild [data]="reply" [index]="$index" (replyId)="createNewReply($event)" (selectedReply)="setSelectedReply($event)"></app-replychild>
			}
		}
	</div>

	<br />
</div>

<!-- @if(showReplyPopup){
	<app-upload forwhat="reply" [currentBoard]="currentBoard" [replyTo]="replyTo" [threadId]="currentThread" (closepopup)="closePopup()" (triggerRefresh)="triggerRefresh()"></app-upload>
} -->

@if(showSelectedReply){
<div #overlay class="dark-overlay lowerz">
	<div style="background-color: white;width: 350px; padding: 12px;">
	<app-replychild [data]="selectedReply" [index]="0" (replyId)="createNewReply($event)"></app-replychild>
	</div>
	<a style="color: white;" (click)="setShowSelectedReply(false)">close</a>
</div>
}

