<div class="contain" >
	<h1>
		replies
	</h1>

	
	<div class="flexColumn extra">
		@if((replyList$ | async); as replyList){
			@for (reply of replyList; track reply.id) {
				<app-replychild class="animateContainer" [data]="reply" [index]="$index" (replyId)="createNewReply($event)" (selectedReply)="setSelectedReply($event)" (expandMedia)="expandMedia($event)"></app-replychild>
			}
		}
	</div>

	<br />
	<!-- <br />
	<br />
	<br />

	<a style="text-decoration: underline" (click)="scrollUp()">up</a> -->

	<br />
	<br />

</div>


	
